* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Overpass", sans-serif;
  font-style: normal;
}
:root {
  --bg-dark: #070c1c;
  --bg-semmi-dark: #1e2031;
  --bg-light: #2a2c3d;
  --red: #ec3013;
  --green: #4ade80;
  --orange: #e27e04;
  --white: #ffffff;
  --text-gray: #a9a9a9;
  --text-blue: #505261;
  --pink: #fdeae7;
  --green-light: #edfbf2;
  --white-almost: #1a1a1a;
  --page-padding: max(28px, calc((100vw - 1728px) / 2));
  /*calculate for content bellow navigation be same line */
}
.container {
  max-width: 1728px;
  margin: 0 auto;
  padding: 12px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.hero {
  position: relative;
}
body {
  background-color: var(--bg-dark);
}
.playingNow_wrapper {
  max-width: 1728px;
  margin: 0 auto;
  padding-top: 3rem;
}
